config system sdwan
    config service
        edit 1
            set name "BOR_Private_Access"
            set mode sla
            set dst "RFC1918-GRP"
            set tie-break cfg-order
            set priority-members 1 2 3 4
            config sla
                edit "HC_Primary1"
                    set id 1
                next
                edit "HC_Primary2"
                    set id 1
                next
                edit "HC_Secondary1"
                    set id 1
                next
                edit "HC_Secondary2"
                    set id 1
                next
            end
        next
        edit 2
            set name "INET_via_BOR"
            set mode sla
            set dst "all"
            set tie-break cfg-order
            set priority-members 1 2 3 4
            config sla
                edit "HC_Primary1"
                    set id 1
                next
                edit "HC_Primary2"
                    set id 1
                next
                edit "HC_Secondary1"
                    set id 1
                next
                edit "HC_Secondary2"
                    set id 1
                next
            end
        next
        edit 5
            set name "Underlay_fallback"
            set dst "all"
            set priority-members 5 6
        next
    end
end
