config system interface
    edit "{{ WAN_PORT }}"
        set alias "WAN1"
{% if WAN_MODE == "static" %}        set ip {{ WAN_IP }} {{ WAN_MASK }}
{% else %}        set mode dhcp
        set distance {{ WAN_DHCP_DIST }}
{% endif %}        set allowaccess ping https ssh fgfm
        set role wan
    next
    edit "{{ WAN2_PORT }}"
        set alias "WAN2"
{% if WAN_MODE == "static" %}        set ip {{ WAN2_IP }} {{ WAN2_MASK }}
{% else %}        set mode dhcp
        set distance {{ WAN_DHCP_DIST }}
{% endif %}        set allowaccess ping https ssh fgfm
        set role wan
    next
    edit "{{ LAN_PORT }}"
        set alias "LAN"
        set ip {{ LAN_IP }} {{ LAN_MASK }}
        set allowaccess ping https ssh
        set role lan
    next
end
